.journalForm {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input {
    border: none;
    background: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: 'Source Sans 3', sans-serif;
    border-bottom: 1px solid #323232;
    width: 100%;
}

.formRow {
    display: flex;
    align-items: center;
    gap: 50px;
}

.formLabel {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    min-width: 100px;
}

.titleWrapper {
    display: flex;
}

.delete {
    border: none;
    background: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 0;
}

.delete:hover {
    background: rgb(255, 255, 255, 0.05);
    border-radius: 50%;
}

.invalid {
    border: 1px solid red;
    background: rgb(141, 38, 38);
}